.home {
  height: 100vh;
  width: 100vw;
  background-color: #151a1e;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.header {
  width: 100%;
  padding: 20px 20px 0px 20px;
}

.headerTitle {
  color: #e8ebed;
  margin: 0px;
  font-size: 26px;
}

.popup {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 10%;
  opacity: .8;
  border-radius: 30px;
  background-color: snow;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: .8; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: .8; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: .8; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: .8; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: .8; }
}

.headerDivider {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: linear-gradient(-90deg, #151a1e 0%, #2a2e32 5%, #2a2e32 90%, #151a1e 100%)
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, auto);
  min-height: 640px;
  min-width: 800px;
  position: relative;
}